*{
    padding: 0;
    margin: 0;
}
/* div{
    width: 500px;
    height: 500px;
} */
/* th,td{
  border: 1px solid #000000;
    border-collapse: collapse;
} */
table
{
    display: flex;
    flex-wrap: wrap;
}
th,td{
    padding: 5px;
}
.blue{
    background-color:aqua;
}
.green
{
    background-color: green;
}
.pink
{
    background-color: palevioletred;
}
.yellowgreen
{
    background-color: yellowgreen;
}
.blueviolet
{
    background-color:darkorchid;
}
.gray
{
    background-color: gray;
}
.orange{
    background-color: orange;
}
.bisque{
    background-color: bisque;
}
.yellow{
    background-color: yellow;
}
.orginalblue
{
    background-color: dodgerblue;
}